<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Naveen Chandar" />
    <meta name="description" content="Rectro cart an ecommerce." />
    <link rel="icon" type="image/x-icon" href="../../assets/retro_cart_favicon-32x32.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://retro-ui-design.netlify.app/css/retro.css" />
    <link rel="stylesheet" href="../navbar/navbar.css" />
    <link rel="stylesheet" href="wishlist.min.css" />
    <title>Retro-Cart | Wishlist</title>
</head>

<body>
    <section id="wishlist">
        <section id="navbar wishlist_navbar">
            <div class="nav_group">
                <nav class="nav_bar flex_row justify_spacebtw">
                    <div class="nav_options">
                        <a class="navbar_brand nav_link align_center" href="../../index.html">
                            Retro Cart
                        </a>
                    </div>
                    <div class="nav_search flex align_center justify_center">
                        <input type="search" placeholder="Search" class="input" />
                    </div>
                    <div class="nav_actions flex_row">
                        <a href="./wishlist.html" class="badge_container">
                            <i class="fa fa-heart-o"></i>
                            <span class="badge badge_number">
                                <span>0</span>
                            </span>
                        </a>
                        <a href="../cart-management/cart-management.html" class="badge_container">
                            <i class='fa fa-shopping-cart'></i>
                            <span class="badge badge_number">
                                <span>0</span>
                            </span>
                        </a>
                        <button class="btn auth_btn"><a href="../authentication/login.html">Logout</a></button>
                    </div>
                </nav>
            </div>
        </section>
        <section class="wishlist_main p-4 flex_row justify_even">
            <div class="ecommerce_card wishlist_card flex_column">
                <div class="product_image w-100">
                    <img src="../../assets/image_1.png" class="w-100 block m_auto" alt="wishlist product" />
                    <i class="fa fa-heart product_wishlist pointer"></i>
                </div>
                <div class="product_details flex flex_dcolumn w-100">
                    <div class="product_info">
                        <h5 class="product_title px-2">Product title.</h5>
                    </div>
                    <div class="product_footer flex justify_spacebtw align_center">
                        <div class="product_price px-2">
                            <span class="product_discount_price primary_text_color font_bold">Rs.800</span>
                            &nbsp;
                            <span class="product_original_price">Rs.1600</span>
                        </div>
                    </div>
                    <button class="product_add_cart py-2 m-2 move_cart_btn">
                        <a href="../cart-management/cart-management.html">
                            Move to cart
                        </a>
                    </button>
                </div>
            </div>
            <div class="ecommerce_card wishlist_card flex_column">
                <div class="product_image w-100">
                    <img src="../../assets/image_1.png" class="w-100 block m_auto" alt="wishlist product" />
                    <i class="fa fa-heart product_wishlist pointer"></i>
                </div>
                <div class="product_details flex flex_dcolumn w-100">
                    <div class="product_info">
                        <h5 class="product_title px-2">Product title.</h5>
                    </div>
                    <div class="product_footer flex justify_spacebtw align_center">
                        <div class="product_price px-2">
                            <span class="product_discount_price primary_text_color font_bold">Rs.800</span>
                            &nbsp;
                            <span class="product_original_price">Rs.1600</span>
                        </div>
                    </div>
                    <button class="product_add_cart py-2 m-2 move_cart_btn">
                        <a href="../cart-management/cart-management.html">
                            Move to cart
                        </a>
                    </button>
                </div>
            </div>
            <div class="ecommerce_card wishlist_card flex_column">
                <div class="product_image w-100">
                    <img src="../../assets/image_1.png" class="w-100 block m_auto" alt="wishlist product" />
                    <i class="fa fa-heart product_wishlist pointer"></i>
                </div>
                <div class="product_details flex flex_dcolumn w-100">
                    <div class="product_info">
                        <h5 class="product_title px-2">Product title.</h5>
                    </div>
                    <div class="product_footer flex justify_spacebtw align_center">
                        <div class="product_price px-2">
                            <span class="product_discount_price primary_text_color font_bold">Rs.800</span>
                            &nbsp;
                            <span class="product_original_price">Rs.1600</span>
                        </div>
                    </div>
                    <button class="product_add_cart py-2 m-2 move_cart_btn">
                        <a href="../cart-management/cart-management.html">
                            Move to cart
                        </a>
                    </button>
                </div>
            </div>
            <div class="ecommerce_card wishlist_card flex_column">
                <div class="product_image w-100">
                    <img src="../../assets/image_1.png" class="w-100 block m_auto" alt="wishlist product" />
                    <i class="fa fa-heart product_wishlist pointer"></i>
                </div>
                <div class="product_details flex flex_dcolumn w-100">
                    <div class="product_info">
                        <h5 class="product_title px-2">Product title.</h5>
                    </div>
                    <div class="product_footer flex justify_spacebtw align_center">
                        <div class="product_price px-2">
                            <span class="product_discount_price primary_text_color font_bold">Rs.800</span>
                            &nbsp;
                            <span class="product_original_price">Rs.1600</span>
                        </div>
                    </div>
                    <button class="product_add_cart py-2 m-2 move_cart_btn">
                        <a href="../cart-management/cart-management.html">
                            Move to cart
                        </a>
                    </button>
                </div>
            </div>
        </section>
    </section>
</body>

</html>