<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Naveen Chandar" />
    <meta name="description" content="Rectro cart an ecommerce." />
    <link rel="icon" type="image/x-icon" href="../../assets/retro_cart_favicon-32x32.png" />
    <link rel="stylesheet" href="https://retro-ui-design.netlify.app/css/retro.css" />
    <link rel="stylesheet" href="../navbar/navbar.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Retro-Cart | Login</title>
</head>

<body>
    <section id="navbar">
        <div class="nav_group">
            <nav class="nav_bar flex_row justify_spacebtw">
                <div class="nav_options">
                    <a class="navbar_brand nav_link align_center" href="../../index.html">
                        Retro Cart
                    </a>
                </div>
                <div class="nav_search flex align_center justify_center">
                    <input type="search" placeholder="Search" class="input" />
                </div>
                <div class="nav_actions flex_row">
                    <a href="../wishlist/wishlist.html" class="badge_container">
                        <i class="fa fa-heart-o"></i>
                        <span class="badge badge_number">
                            <span>0</span>
                        </span>
                    </a>
                    <a href="../cart-management/cart-management.html" class="badge_container">
                        <i class='fa fa-shopping-cart'></i>
                        <span class="badge badge_number">
                            <span>0</span>
                        </span>
                    </a>
                    <button class="btn auth_btn"><a href="./login.html">Login</a></button>
                    <button class="btn auth_btn"><a href="./signup.html">Sign up</a></button>
                </div>
            </nav>
        </div>
    </section>
    <section id="login">
        <div class="flex flex_column h_screen_100">
            <div class="login_body border px-4 py-2">
                <div class="login_header">
                    <h4 class="py-2 font_bold text_center">Login</h4>
                </div>
                <div class="login_email py-1">
                    <div class="input_group flex align_start flex_dcolumn">
                        <label>Email address</label>
                        <input type="text" placeholder="abc@gmail.com" class="input w-100" />
                    </div>
                </div>
                <div class="login_password py-1">
                    <div class="input_group flex align_start flex_dcolumn">
                        <label>Password</label>
                        <input type="text" placeholder="**********" class="input" />
                    </div>
                </div>
                <div class="login_checkbox flex justify_spacebtw my-1">
                    <div>
                        <input type="checkbox" />
                        <span>Remember me</span>
                    </div>
                    <div>
                        <label class="primary_text_color">Forgot your password ?</label>
                    </div>
                </div>
                <button class="login_btn btn btn_primary w-100"><a href="../../index.html">Login</a></button>
                <p class="login_new_acc text_center m-1">Create New Account </p>
            </div>
        </div>
    </section>
</body>

</html>