@import url(../../css/variables.css);

:root {
    font-size: 1rem;
}

body {
    background-color: var(--bg-color);
}

#login span, #login label {
    font-size: 1rem;
}

.login_body {
    width: 30%;
    background-color: var(--white);
}

.login_body .input {
    max-width: 100%;
}

.login_btn {
    flex: 1;
    padding: 0.7rem;
    margin: 1rem 0;
}

.login_btn a {
    font-size: 1.2rem;
}

.login_header h4 {
    font-size: 2rem;
}