@import url(../../css/variables.css);

.cart_gap {
    gap: 1rem;
}

.cart_image img {
    height: 16rem;
    max-inline-size: fit-content;
    block-size: inherit;
}

.cart_item {
    padding: 3rem;
}

.cart_item_info {
    height: 26rem;
}

.cart_count i{
    font-size: 2rem;
}

.cart_offer {
    color: var(--red);
}

.cart_main {
    grid-template-columns: 1fr 1fr;
    margin: 4rem;
    gap: 2rem;
    justify-items: center;
}

.cart_management {
    grid-column: 1/2;
}

.cart_price_details {
    grid-column: 2/-1;
    width: 40rem;
    height: 30rem;
}